@mixin grid-row {
    flex: 1;
}

@mixin row-basics {
  display: flex;
  box-sizing: border-box;
}

@for $col from 1 through $columns {
    /* without margin */
    .w-#{$col} {
                flex-basis: ((100 / $columns) * $col) * 1%;
                max-width: ((100 / $columns) * $col) * 1%;
        @include row-basics;

    }
    /* with margin */
    .c-#{$col} {
        width: ((100 / $columns) * $col) * 1%;
        @include row-basics;
        @if ($col < $columns) {
            margin-right: 1%;
            margin-bottom: 1%;
        }

    }
}

@each $breakpoint, $size in $baseSizes {
     @for $col from 1 through $columns{
        /* with margin */
        .w-#{$col}-#{$breakpoint} {
            @include respond-to($breakpoint) {
                flex-basis: ((100 / $columns) * $col) * 1%;
                max-width: ((100 / $columns) * $col) * 1%;

                @include row-basics;
            }
        }
        /* without margin */
        .c-#{$col}-#{$breakpoint} {
            @include respond-to($breakpoint) {
                width: ((100 / $columns) * $col) * 1%;
                float: left;

                @include row-basics;
                @if ($col < $columns) {
                    margin-right: 1%;
                }
                &-set {
                  margin-right: 0;
                  margin-bottom: 0;
                }
            }
        }
    }

        .no-#{$breakpoint} {
            @include respond-to($breakpoint) {
                display: none !important;
            }
        }

        .end-#{$breakpoint} {
          justify-content: flex-end;
          text-align: end;
        }

        .top-#{$breakpoint} {
          align-items: flex-start;
        }

        .middle-#{$breakpoint} {
          align-items: center;
        }

        .bottom-#{$breakpoint} {
          align-items: flex-end;
        }

        .around-#{$breakpoint} {
          justify-content: space-around;
        }

        .between-#{$breakpoint} {
          justify-content: space-between;
        }

        .first-#{$breakpoint} {
          order: -1;
        }

        .last-#{$breakpoint} {
          order: 1;
        }
}

.container {
  max-width:90%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin-left: auto;
  margin-right: auto;
  flex:1;
}

.container-fluid {
  padding-left:0.5%;
  padding-right:0.5%;
  display:flex;
}

.row {
  flex-flow: row wrap;
  display: flex;
}
