@each $value in $fwRange {
  @each $breakpoint, $size in $baseSizes {
    .fw-#{$value} {
          font-weight: $value;

        &-#{$breakpoint} {
          @include respond-to($breakpoint) {
            font-weight: $value !important;
          }
        }
    }
  }
}

@for $value from 1 through 50 {
                  .fs-#{$value} {
                        $baseFontSize: calc(#{$value} / 10);
                        $finalFontSize: calc(#{$baseFontSize} *  {map-get($size, l));
                        font-size: $finalFontSize;

                    @each $breakpoint, $size in $fontSizes {
                      &-#{$breakpoint} {
                        @include respond-to($breakpoint) {
                          $baseFontSize: calc(#{$value} / 10);
                          $finalFontSize: calc(#{$baseFontSize} * #{$size});
                          font-size: $finalFontSize !important;
                        }
                      }
                    }
                  }
                  .lh-#{$value} {
                        $baseFontSize: calc(#{$value} / 10);
                        $finalFontSize: calc(#{$baseFontSize} *  {map-get($size, l));
                        font-size: $finalFontSize;

                    @each $breakpoint, $size in $fontSizes {
                      &-#{$breakpoint} {
                        @include respond-to($breakpoint) {
                          $baseFontSize: calc(#{$value} / 10);
                          $finalFontSize: calc(#{$baseFontSize} * #{$size});
                          font-size: $finalFontSize !important;
                        }
                      }
                    }
                  }
}
