@for $value from 0 to 50 {
    @each $property, $propValue in $properties {
        @each $direction, $directionValue in $directions {

            $size: map-get($baseSizes, l);
            $final: calc((#{$value} * #{$size}) * 2);

                .#{$property}-#{$direction}-#{$value} {
                    @if $direction != a {
                        #{$propValue}-#{$directionValue}: $final;
                        @each $breakpoint, $size in $baseSizes {
                            $final: calc((#{$value} * #{$size}) * 2);
                            &-#{$breakpoint} {
                                 @include respond-to($breakpoint) {
                                   #{$propValue}-#{$directionValue}: $final;
                                 }   
                            }
                        }
                    }
                    @if $direction == a {
                        #{$propValue}: $final;
                        @each $breakpoint, $size in $baseSizes {
                            $final: calc((#{$value} * #{$size}) * 2);
                            &-#{$breakpoint} {
                                 @include respond-to($breakpoint) {
                                   #{$propValue}: $final;
                                 }   
                            }
                        }
                    }
                }

            
        }
    }
}