@for $value from 1 to 50 {
     @each $breakpoint, $size in $baseSizes{
        @each $aliasProp, $propValue in $properties {
             @each $aliasFrom, $fromValue in $directions{
                @if $aliasFrom == a {
                    .#{$aliasProp}-#{$aliasFrom}-#{$value} {
                        @include respond-to($breakpoint) {
                            $final: calc((#{$value} * #{$size}) * 2);
                            #{$propValue}: $final !important;
                        }
                    }
                }
                @if $aliasFrom != a {
                    .#{$aliasProp}-#{$aliasFrom}-#{$value} {
                        $final: calc((#{$value} * #{$size}) * 2);
                        @include respond-to($breakpoint) {
                            $final: calc((#{$value} * #{$size}) * 2);
                            #{$propValue}-#{$fromValue}: $final !important;
                        }
                        &-#{$breakpoint} {
                            @include respond-to($breakpoint) {
                                $final: calc((#{$value} * #{$size}) * 2);
                                #{$propValue}-#{$fromValue}: $final !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
